.home {
    flex: 0 0 auto;
    width: 65px;
    height: auto;
    margin-right: 30px;
    background-image: url(../icons/qinous.svg);
    background-repeat: no-repeat;
    background-position: 18px center;
    background-size: 40%;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}

.nav {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    height: auto;

    .node {
        position: relative;
        display: flex;
        cursor: pointer;
        justify-content: center;
        width: 88px;
        height: 50px;
        margin-right: 10px;
        border-radius: 5px;
        border: 2px solid rgb(125, 144, 161);
        background-color: white;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        svg {
            width: 68%;
            height: 74%;
            // width: 82px;
            // height: 51px; // height 100% leads to rounding errors, white lines between shapes
            fill: rgb(99, 122, 144);
        }

        &.selected,
        &:hover {
            border-color: $colorQinousBlue;
            svg {
                fill: $colorQinousBlue;
            }
        }
    }
}


.auth {
    display: flex;
    align-items: center;
}